<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= title %></h1>
    <button onclick="window.location.href='/new'">New Message</button>
    <% message && message.forEach(function(message) { %>
    <div class="message-cont">
      <h2 class="user"><%= message?.name || "name" %></h2>
      <p class="message"><%= message?.message || "message" %></p>
      <p class="added"><%= message?.timestamp || "timestamp" %></p>
    </div>
    <% }) %>
  </body>
</html>
