<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1><%= title %></h1>
    <button onclick="window.location.href='/new'">New Message</button>
    <% message.forEach(function(message) { %>
    <div class="message-cont">
      <h3 class="user">message id: <%= message?._id || "null" %></h3>
      <h2 class="user">name: <%= message?.name || "name" %></h2>
      <p class="message">message: <%= message?.message || "message" %></p>
      <p class="added">timestamp: <%= message?.timestamp || "timestamp" %></p>
    </div>
    <% }) %>
  </body>
</html>
